<app-nav-bar></app-nav-bar>



<div class="row mt-4 p-5">
  <div class="col-md-2">
    <img src="{{album.images[0].url}}" class="rounded img-fluid float-start" alt="...">
  </div>
  <div class="col-md-3 my-3">
    <h3 class="text-center my-2">Artist: {{album.artists[0].name}}</h3>
    <h3 class="text-center my-2">Album: {{album.name}}</h3>

  </div>

</div>

<!--<pre>{{tracks | json}}</pre>-->

<div class="container">
  <div class="row mt-5">
    <div class="col-2 text-center my-3" *ngFor="let track of tracks">
      <app-track-card
      imgUrl="{{album.images[0].url}}"
      trackTitle="{{track.name}}"
      length="{{ track.duration_ms }}"
      trackNumber="{{track.track_number}}"
      ></app-track-card>
    </div>


  </div>

</div>

<div class="row my-5">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
