<!--<app-nav-bar></app-nav-bar>-->

<!--<pre>{{album | json}}</pre>-->
<div class="row">
  <div class="col-2">
    <a href="/">
      <button type="button" class="btn btn-outline-light rounded m-5">Back</button>

    </a>

  </div>

</div>

<div class="row mt-4 p-5 " *ngIf="album">
  <div  class="col-md-2" *ngIf="album.images.length > 0">
    <img src="{{album.images[0].url}}" class="rounded img-fluid float-start border" alt="...">
  </div>
  <div class="col-md-3 my-3 text-light">
    <h3 class="text-center my-2" *ngIf="album.artists.length > 0">Artist: {{album.artists[0].name}}</h3>
    <h3 class="text-center my-2">Album: {{album.name}}</h3>

  </div>

</div>

<!--<pre>{{tracks.artists | json}}</pre>-->

<div class="container">
  <div class="row mt-5">
    <div  class="col-2 text-center my-3" *ngFor="let track of tracks">
      <app-track-card *ngIf="album"
      imgUrl="{{album.images[0].url}}"
      trackTitle="{{track.name}}"
      length="{{ track.duration_ms }}"
      trackNumber="{{track.track_number}}"
      ></app-track-card>
    </div>


  </div>

</div>

