<!--<app-nav-bar></app-nav-bar>-->


<div class="row my-3">

  <div class="offset-3 col-6 mt-5 text-center">
    <h1 class="text-center my-3 text-light">Spotify Clone </h1>

    <form class="d-flex my-3">
      <input [(ngModel)]="searchQuery" (keyup)="searchAllAlbums()" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
    </form>

  </div>
</div>

<div *ngIf="errBlock">
  <h4 class="text-center text-warning">{{errorText}}</h4>
</div>


<!--<pre>{{totalRecords | json}}</pre>-->
<!--<pre>{{albums | json}}</pre>-->


<div class="container">
  <div class="row mt-5">
    <div class="col-md-2 text-center my-3" *ngFor="let album of albums | paginate: {id: 'listing_pag',
    itemsPerPage: 15,
    currentPage: page,
    totalItems: totalRecords
    }">
      <app-album-card
        albumTitle="{{album.name}}"
        imgUrl="{{album.images[0].url}}"
        band="{{album.artists[0].name}}"
        albumId="{{album.id}}"
      ></app-album-card>
    </div>


  </div>

</div>
<div *ngIf="albums != null" class="text-center ">
  <pagination-controls class="my-pagination"  id="listing_pag"  actionLinks="true" (pageChange)="gty((page = $event))"></pagination-controls>
</div>
