<div class="row my-3">

  <div class="offset-3 col-6 mt-5 text-center">
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <!--    <input class="" type="search" placeholder="Search" aria-label="Search">-->
    <!--    <button class="btn btn-outline-success" type="submit">Search</button>-->
  </div>
</div>
<div class="container">
  <div class="row mt-5">
    <div class="col text-center">
      <app-album-card></app-album-card>
    </div>
    <div class="col text-center">
      <app-album-card></app-album-card>
    </div>
    <div class="col text-center">
      <app-album-card></app-album-card>
    </div>
    <div class="col text-center">
      <app-album-card></app-album-card>
    </div>
    <div class="col text-center">
      <app-album-card></app-album-card>
    </div>
    <div class="col text-center">
      <app-album-card></app-album-card>
    </div>



  </div>

</div>
